body {
    background: url(authorback.png);
    background-size: cover;
}

.barlinks {
    text-decoration: none;
    color:cyan;
    font-family:cursive;
    font-weight: 900;
    length:1000px;
    width:200px;
    font-size:30px;
    border: 3px solid white;
    border-radius:5px;
    padding: 5px;
    padding-right: 15px;
    background-color: #1C1C1C;
}

li {
    display: inline;
}

#home {
    background-color:#454545;
    color: #4DFFFF;
    margin-left: -20px;
    
}

.barlinks:hover, #home:hover {
    color:firebrick;
    background-color: white;
    border-color:firebrick;
}

#bar {
    position:fixed;
    margin-top: -11px;
    margin-left: 65px;
}

p {
    color:white;
    font-family: cursive;
    font-size: 40px;
    font-weight: 800;
    line-height: 1.5;
    margin: 0px 70px 0px 70px;
}

em {
    color: ##FFFFCC;
}

h1 {
    text-align: center;
    color:#FF0066;
    font-family: cursive;
    font-size:55px;
    font-weight: 900;
}

* {
outline:none;
}