body {
    background:url(careerback.png);
    background-size: cover;
}

.barlinks {
    text-decoration: none;
    color:cyan;
    font-family:cursive;
    font-weight: 900;
    length:1000px;
    width:200px;
    font-size:30px;
    border: 3px solid white;
    border-radius:5px;
    padding: 5px;
    padding-right: 15px;
    background-color: #1C1C1C;
}

#bar {
    position:fixed;
    margin-top: -11px;
    margin-left: 65px;
}

#bar li {
    display: inline;
}


#home {
    background-color:#474747;
    color: #4DFFFF;
    margin-left: -20px;
    
}

.barlinks:hover, #home:hover {
    color:firebrick;
    background-color: white;
    border-color:firebrick;
}

h1 {
    text-align: center;
    color:#FF0066;
    font-family: cursive;
    font-size:50px;
    font-weight: 900;
}

p {
    font-family: cursive;
    color:#FF0066;
    font-weight: 700;
    font-size: 25px;
}

ol li {
    font-family: cursive;
    font-weight:600;
    font-size: 20px;
    color: #47008F;
}

#questions label {
    font-family: cursive;
    font-weight: 400;
    font-size: 20px;
    color: #5C00B8;
    margin-left: 5px;
}

#submit {
    font-family:cursive;
    font-size:20px;
    color:white;
    border: 3px solid white;
    background-color: black;
    border-radius: 3px;
    padding:5px;
    text-decoration: none;
}

#submit:hover {
    background-color:#333333;
}

* {
outline: none;
}